{% extends 'layout.html' %}

{% block content %}
    <h1 class="mt-4 text-xl-center" style="font-family: 'Fredericka the Great', Tahoma, sans-serif; letter-spacing: 2px; word-spacing: 5px;">Post a new comment</h1>
    {% if answer_id == '' %}
    <form action="{{ url_for('route_new_comment', question_id=question_id) }}" method="post">
    {% else %}
    <form action="{{ url_for('route_new_comment', answer_id=answer_id) }}" method="post">
    {% endif %}
        <label for="new_comment"></label>
        <div class="form-group">
            <textarea name="comment" id="new_comment" class="form-control" placeholder="Write your comment here" minlength="10" cols="30" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <button type="reset" class="btn btn-danger mb-2">Reset</button>

    </form>
{% endblock %}